.header__title {
  font-weight: 400;
  margin: 0 0 0 16px;
  font-size: 32px;
  color: #000;
  line-height: 42px;
  letter-spacing: 1px;
}

.header__nav {
  background-color: #f7f7f7;
  padding: 6px 16px;
  margin-top: 18px;
}

.header__button {
  margin-right: 18px;

  @media screen and (max-width: $mobile-width) {
    display: block;
    max-width: 250px;
    margin: 4px auto;
  }
}
