.schedule-header {
  background-color: #F7F7F7;
  padding: 17px 0 10px 20px;
  display: flex;
  justify-content: space-between;
}

.schedule-header__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: #2D2E2E;
  line-height: 24px;
  letter-spacing: 0.3px;
}
